section{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100Vh;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 60%;
    box-shadow: 1px 1px 2px var(--text-color);
    border-radius: 20px;
    color: var(--text-color);
}
div.img{
    width: 150px;
    height: 100%;
    border-radius: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
div .img .image{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-bottom: 65px;

}
div.img input{
    width: 100%;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
.img img{
    width: 100%;
    height: 150px;
    border-radius: 10%;
}
#email{
    font-size: 1.1rem;
    font-weight: 700;
}
.info{
    width: 65%;
}
.info input{
    width: 80%;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
}
.info input:hover{
    border: 2px solid var(--primary-color);
}
.info1{
    margin: 20px 0px;
}
.info1 div{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
#btn{
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    font-size: 1.1rem;
}
#btn:hover{
    box-shadow: 2px 2px 2px var(--text-color);
}
#form{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}