form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
  }
  
  input,
  textarea {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(190, 190, 190) 2px;
    outline: none;
    font-family: 'Poppins';
  }
  input:focus,
  textarea:focus {
    box-shadow: #2b2ecf 1px 1px 3px;
  }
  ::placeholder {
    font-family: 'Poppins';
  }
  input:hover{
    border: 2px solid var(--primary-color);
  }
  .create-job {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .create-job .secondary-btn {
    width: 53%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    width: 50%;
  }
  .create-job button.secondary-btn {
    padding: 10px;
    color: var(--primary-color-light);
    font-size: 1.1rem;
  }